.container {
  background: #EDEDED;
  border-radius: 24px;
  padding: 8px 12px;
  font-size: 18px;
  display: inline;
}

.insta {
  background:url('/images/icon.png') no-repeat left center;
  background-size: contain;
  padding-left:28px;
}

.close {
  background:url('/images/close.svg') no-repeat left center;
  padding-left:32px;
}

