.container {
  background: #EDEDED;
  border-radius: 24px;
  padding: 8px 12px;
  font-size: 18px;
  display: inline-flex;
}

.close {
  width: 21px;
  background-image:url('/images/close.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 14px;
}

.insta {
  width: 21px;
  background:url('/images/icon.png') no-repeat left center;
  background-size: contain;
  margin-right: 4px;
}



