.header {
  text-align: center;
  font-size: 24px;
  height: 50px;
}

.buyButton {
  text-align: center;
  width: 100px;
  margin: 10px auto;
  background: linear-gradient(92.84deg, #FEDA75 -18.97%, #FA7E1E 9.05%, #D62976 44.08%, #962FBF 74.05%, #4F5BD5 100%);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color:white;
  padding:12px;
  border:none;
}

.textBtn{
  background:url('/images/cart.svg') no-repeat left center;
  padding-left:28px;
}

.resultContainer{
  text-align:center;
}
